@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&family=Sixtyfour+Convergence');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
p {
    color:rgb(30, 138, 9);
    font-family: "Sixtyfour Convergence";
}

/* Select by CLASS name */
.border {
    border : 2px solid black;
    background-color: pink;
}
body {
font-family: "Sixtyfour Convergence"
}
/* Select by ID name */
#intro {
    background-color: aqua;
}
strong {
    font-family: "fantasy";
}
/* Properties: colors and typography */
strong {
    color: rgb(141, 255, 238);
    background-color: rgb(0, 0, 0);
    serif;
    font-family: "Qwitcher Grypen";
    font-weight: 900;
    font-style: italic;
}

h1 {
    text-align: center;
    font-family: "Qwitcher Grypen";
}
*{
    border: 2px solid red;
    background-color: powderblue;
}
img {
    border-width: 2px;
    border-style: groove;
    border-color: greenyellow;
    border-radius: 2px;
}

hr{
    border-width: 5px;
    border-style: groove;
    border-color: purple;
}